@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    border: none;
    text-decoration: none;
}
html
{
    font-size: 1.2rem;
}
body
{
    background-color: black;
    color: white;
}
header
{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
.logo
{
    font-size: 35px;
    font-weight: 600;
    color: brown;
    transition: 0.5s ease;
}
.logo:hover
{
    transform: scale(1.1);
    text-shadow: 0 1px 15px rgb(0, 242, 255);
}
nav a
{
    font-size: 25px;
    color: white;
    margin: 18px;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
}
nav a.active,nav a:hover
{
    color: brown;
    border-bottom: 3px solid brown;
}
.main-content
{
    margin-left: 120px;
    margin-top: 70px;
}
.main-content span
{
    color: brown;
}
.main-content h1,.name
{
    font-size: 50px;
}
.main-content h3,.position
{
    font-size: 30px;
}
.content
{
    width: 20rem;
    margin-left: 120px;
    margin-top: 20px;
}
.social-icons
{
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 1.7rem;
}
.social-icons i
{
    font-size: 40px;
    padding: 1.1rem;
    color: white;
    transition: 0.5s ease;
}
.social-icons i:hover
{
    transform: scale(1.2);
    text-shadow: 0px 0px 25px rgb(0, 217, 255);
}
.btn
{
    margin-left: 230px;
    margin-top: 500px;
    border: 5px solid brown;
    color: white;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 50px;
    font-weight: 700;
    transition: 0.5s ease;
}
.btn:hover
{
    box-shadow: 0px 0px 20px brown;
}
.image
{
    margin-left: 45rem;
    margin-top: -20rem;
}
.image img
{
    position: absolute;
    height: 15rem;
    width: 15rem;
    border: 4px solid white;
    box-shadow: 0px 0px 20px brown;
    border-radius: 50px;
    transition: 0.5s ease;
}
.image img:hover
{
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
    transform: scale(1.1);
}
.position::before
{
    content: "softwaare engineer";
    animation: words 20s infinite;
}
.position::after
{
    content: "";
}
@keyframes words {
    0%,25%
    {
        content: "Web Developer";
    }
    25%,50%
    {
        content: "Content Writter";
    }
    50%,75%
    {
        content: "App Developer";
    }
    75%,100%
    {
        content: "content Creator";
    }
}
@media(max-width="415px")
{
    body
    {
        background-color: white;
        color: black;
    };

    .logo   
    {
    font-size: 20px;
    font-weight: 600;
    color: brown;
    transition: 0.5 ease;
    };

    header
    {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 110px;
    margin-right: 100px;
    }

    nav 
    {
        display: none;
    };

    .main-content
    {
        margin-left: 15px;
        width: 315px;
    }
    
    .main-content h3,.main-content h3 span
    {
        font-size: 10px;
    }
    
    .content
    {
        margin-left: 15px;
        width: 220px;
    }

    .image
    {
        margin-top: 1rem;
        margin-left: 30px;
    }

    .image img
    {
        height: 12rem;
        width: 12rem; 
        border: 5px solid white;
        box-shadow: 0px 0px 40px brown;
        border-radius: 50%;
        transition: 0.5s ease;
        position: absolute;
    }

    .btn
    {
        position: absolute;
        margin-left: 85px;
        margin-top: 290px;
        border: 5px solid brown;
        color: white;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        box-shadow: 0px 0px 25px brown;
        padding-top: 290px;
        padding-bottom: 0.7rem;
        border-radius: 50px;
        transition: 0.5s ease;
        font-weight: 700;
    }

    .social-icons
    {
        display: none;
    }

}